NO_PROXY=10.51.0.79,172.16.2.157,172.16.1.144,10.8.98.9,localhost,127.0.0.1,47.97.202.126

HEZOR2_API_BASE_URL=http://your_hezor2_api_base_url_here
HEZOR2_API_KEY=your_hezor2_api_key_here
HEZOR2_HEADER_PK_FILEPATH=security/private_key.pem
HEZOR2_HEADER_PK_PASSWORD=file_password
HEZOR2_APP_NAME=pestiot_v5



